<p>
  <strong>Item:</strong>
  <%= @product.item %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_admin_category_product_path %> |<%= link_to 'Back to the category', admin_category_products_path %>