<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

|<%= link_to 'Main page', controller: "/main" %> |

<%= link_to 'Categories', controller: "/categories" %> | 

<%= link_to "Sing in", controller: "devise/sessions", action: "new" %> |

<%= link_to "Sing up", controller: "devise/registrations", action: "new" %>  |

<%= link_to "Sing out", controller: "devise/registrations", action: "destroy" %> |

<%= yield %>

</body>
</html>
